
<div class="card">
    <div class="card-body">
        <h5 class="card-title">preload-module</h5>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'Pre1'" routerLinkActive="active"> Pre1 load </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="'Pre2'" routerLinkActive="active"> Pre2 load </a>
            </li>
        </ul>
        <p class="card-text">
            <router-outlet></router-outlet>
        </p>
    </div>
</div>